*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

html{
    scroll-behavior: smooth;
}

.container{
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
}

#jc-investments a{
    /* border: 2px solid black; */
    text-decoration: none;
    color: white;
}
#jc-investments{
    margin: 0px 50px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 25px;
}

#jc-investments:hover{
    cursor: pointer;
}

.navbox ul{
    display: flex;
    padding: 12px 15px;  
    margin-left: 320px;  
}

.navbox ul li{
    list-style: none;
}

.navbox ul li a{
    text-decoration: none;
    color: white;
    padding: 16px 20px;
    font-size: 20px;
}

.navbox ul li a:hover{
    color: black;
    background-color: white;
}

.company-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    color: white;
    background-color: black;
}

#logo{
    padding-top: 80px;
    padding-left: 110px;
    background-color: black;
}

h1{
    font-size: 90px;
}

.special{
    font-size: 25px;
    padding-bottom: 5px;
}

.mail-list{
    padding: 10px;
    display: flex;
}

.mail-list input[type='email']{
    border-color: white;
    width: 100%;
    padding: 0.1rem;
    padding-left: 15px;
    padding-right: 800px;
    border-radius: 6px;
    font-size: 1.1rem;
    text-align: left;
}

#subscribe-mail{
    background-color:firebrick;
    color: white;
    border-color: firebrick;
    padding: 0px 10px;
    font-size: 18px;
    position: relative;
    right: 20px;
}

#subscribe-mail:hover{
    background-color: rgb(138, 27, 27);
    cursor: pointer;
}

/* About Section */

.left-align{
    display: flex;
    flex-direction: column;
}

.about-section{
    display: flex;
    width: 90%;
    padding-left: 50px;
}

.about-company{
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 28px;
}

p{
    padding-bottom: 30px;
}

.para1{
    font-size: 21px;
}

.para2{
    font-size: 17px;
    padding-bottom: 25px;
    color: grey;
}

#get-in-touch{
    width: fit-content;
    font-size: 21px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    /* font-weight: bold; */
}

#get-in-touch:hover{
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: rgb(233, 233, 233);
    /* font-weight: bold; */
}

.chart{
    margin-left: 50px;
    margin-top: 50px;
}

.earth{
    float: left;
    position: relative;
    top: 80px;
    z-index: 1;
}

.right-align{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.our-values-section{
    display: flex;
    background-color: rgb(233, 233, 233);
    padding: 50px;
    margin-top: 50px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}

.our-values{
    padding-top: 10px;
    padding-bottom: 25px;
}

/* Services Section */

.services-section{
    /* padding: 50px; */
}

.services-title{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 28px;
}

.services-header{
    padding-bottom: 90px;
    font-size: 21px;
}

.heading-services{
    text-align: center;
    /* padding-bottom: 90px; */
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    /* padding-bottom: 70px; */
}

.grid a{
    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: bold;
}

.nifty-bank{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 80px;
}

#nifty-bank:hover, #nifty:hover, #reliance:hover, #stock-screener:hover{
    text-decoration: underline;
}

.nifty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 80px;
}

.reliance{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 80px;
}


.stock-screener{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 80px;
}

/* Contact Section */

.center{
    text-align: center;
}

.contact-title{
    text-align: center;
    font-size: 28px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.row{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-bottom: 10px;
}

.contact-section{
    /* padding: 20px; */
    background-color: rgb(233, 233, 233);
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input[type='text']{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    width: 40%;
}

.contact-form input[type='email']{
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
}

textarea{
    width: 37%;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    border: 2px solid black;
    padding-bottom: 50px;
}

.contact-form input[type='submit']{
    margin: 20px;
    width: 5%;
    padding: 5px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.contact-form input[type='submit']:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.contact-info{
    /* border: 2px solid black; */
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    width: 100%;
}

.email, .call{
    margin: 10px;
    margin-bottom: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.facebook, .linkedin, .insta{
    margin: 10px;
    margin-bottom: 40px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.email:hover, .call:hover, .linkedin:hover, .insta:hover, .facebook:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* Portfolio Section */

.portfolio-section{
    background-color: rgb(233, 233, 233);
}

.portfolio-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 28px;
}

.portfolio-header{
    font-size: 21px;
    text-align: center;
    margin-bottom: 40px;
}

.paris{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid black; */
    /* background-color: white; */
}

.new-york{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid black; */
    /* background-color: white; */
}

.san-francisco{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid black; */
    /* background-color: white; */
}

.flex-portfolio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

/* Reviews Section */

.reviews-section{
    background-color: rgb(233, 233, 233);
}

.reviews-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 28px;
}

.review-lines, .author-name{
    font-size: 21px;
    text-align: center;
}

.review{
    padding: 90px;
}

/* Pricing Section */

.pricing-title{
    text-align: center;
    font-size: 28px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.pricing-header{
    text-align: center;
    font-size: 21px;
    padding-bottom: 50px;
}

.basic{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 30px;
    width: 30%;
}

.basic:hover{
    box-shadow: 7px 7px 30px grey;
}

.pro{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 30%;
}

.pro:hover{
    box-shadow: 7px 7px 30px grey;
}

.premium{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-right: 30px;
    width: 30%;
}

.premium:hover{
    box-shadow: 7px 7px 30px grey;
}

.flex-pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

.pricing-types{
    font-size: 40px;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: black;
    color: white;
    border: 2px solid black;
}

.pricing-content{
    border: 2px solid black;
    text-align: center;
}

.pricing-benefits{
    padding: 5px;
    font-size: 20px;
}

.top{
    padding-top: 20px;
}

.bottom{
    padding-bottom: 20px;
}

.cost{
    padding-top: 20px;
    font-size: 40px;
}

.sign-up{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 8px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 21px;
    border-radius: 10px;
    /* font-weight: bold; */
}

.sign-up:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
}





